.nav {
    grid-area: n;
    background-color: #a6aada;
    padding: 25px;
}

.item a{
    color: white;
    text-decoration: none;

}

.item :hover{
    color: gold
}

a.active{
    color: #000;
    font-weight:bold;
}



