.nav {
    grid-area: n;
    background-color: #455a64;
    padding: 25px;

}

.item {
   padding: 5px;
    font-size: 20px;
}

.item a{
    color: #ffffff;
    text-decoration: none;
}

.item :hover{
    color: #000000
}

a.active{
    color: #abb3e3;
    font-weight:bold;
    font-size: 20px;
}



