.nav {
    grid-area: n;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;

}

.item a{
    color: #ffffff;
    text-decoration: none;

}

.item :hover{
    color: #ffffff
}

a.active{
    color: #abb3e3;
    font-weight:bold;
    font-size: 20px;
}



