.content {
    grid-area: c;

}

.postsBlock {
    /*background-color: #a93e3e;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: #1a1a1a 3px solid;
}

.posts {
    margin-top: 10px;
}

.myPostsButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 275px;
    margin: 15px 0;
}

.myPostsTextArea {
    min-width: 270px;
}