.description {
    padding: 10px;
}

img {
    width: 100%;
}

.userLargeImage {
    background: transparent;
    width: 350px;
    height: 300px;
}

.userLargeImage img{
    border-radius: 25px;
    width: 350px;
    height: 250px;
}