.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.dialog {
    padding: 5px;
}

.dialogsItem {
    padding: 15px;
}

.dialogsItem a {
    text-decoration: none;
    color: #d5b1b1;
    font-weight: bold;
}

.message {
    padding: 5px;
}

.messagesItem {
    padding: 15px;
}