.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.dialog {
    padding: 5px;
}

.dialog img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.dialogsItem {
    padding: 25px;
}

.dialogsItem a {
    text-decoration: none;
    color: #d5b1b1;
    font-weight: bold;
}

.message {
    padding: 20px;
}

.messagesItem {
    padding: 35px;
}

.inpNewMessage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
}