.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.dialog {
    padding: 15px;
}

.dialog img{
    width: 75px;
    height: 75px;
    border-radius: 25px;
}

.dialogsItem {
    padding: 25px;
}

.dialogsItem a {
    text-decoration: none;
    color: #030000;
    font-weight: bold;
}

.message {
    padding: 25px;
}

.messagesItem {
    padding: 35px;
}

.inpNewMessage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
}